<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>TechStore - {{#if pageTitle}}{{pageTitle}}{{else}}Laptops and Computers{{/if}}</title>
</head>

<body>
    <header>
        <div class="container">
            <h1>TechStore</h1>
            <nav>
                <ul>
                    {{!-- all users --}}
                    <li><a href="/">Home</a></li>
                    <li><a href="/computers">Catalog</a></li>
                    <li><a href="/about">About</a></li>
                    {{#if isAuthenticated}}
                    {{!-- login users --}}
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/computers/create">Create Offer</a></li>
                    <li><a href="/logout">Logout</a></li>
                    {{else}}
                    {{!-- guests --}}
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register">Register</a></li>
                    {{/if}}
                    
                </ul>
            </nav>
        </div>
    </header>

    <!-- In case of error, you should display div with class "errorContainer" -->
    <!-- You can choose to display the first error or all of them (error message/s in your opinion) -->
    {{#if error}}
    <div>
        <div class="errorContainer">
            <p>{{error}}</p>
        </div>
    </div>
    {{/if}}
    {{{body}}}

    <footer>
        <div class="container">
            <p>&copy; 2024 TechStore. All rights reserved.</p>
        </div>
    </footer>
</body>

</html>